Source: libsamba-perl
Section: perl
Priority: optional
Maintainer: Samuel Cabrero <scabrero@zentyal.com>
Build-Depends: debhelper (>= 8),
 perl, pkg-config, libxs-object-magic-perl, libbsd0,
 samba4 (>= 4.1.2-zentyal2),
Standards-Version: 3.9.3
Homepage: http://www.zentyal.org

Package: libsamba-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Perl bindings for samba 4.0
